<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/app-router/app-router.html">
<link rel="import" href="../logout-receptor-evento/logout-receptor-evento.html">
<link rel="import" href="../login-usuario/login-usuario-event.html">
<link rel="import" href="../visor-cuenta/visor-cuenta.html">
<link rel="import" href="../nuevo-usuario/nuevo-usuario.html">


<dom-module id="mensaje-error">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    :host {
      display: block;
    }
    .testbox {
      margin: 20px auto;
      width: 400px;
      height: 200px;
      background-color: #ffffff ;
      -webkit-border-radius: 8px/7px;
      -moz-border-radius: 8px/7px;
      border-radius: 8px/7px;
      -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      border: solid 1px #f4f4f4;
      text-align: center;
    }

    hr{
      color: #989898;
      opacity: 0.8;
    }
    p {
      float:none;
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      color:#b7b7b7 ;
      text-align: center;
      /*padding-top: 20px;*/
      margin-top: 100px;

    }
    a.btn {
      float:left;
      text-align: center;
      margin-bottom: : 20px;
      margin-left: 170px;

    }
    button.close{
      float:right;
      margin-top: 10px;
      margin-right:10px;

    }

    </style>

  <app-router>
    <app-route path="/"></app-route>
  </app-router>

  <span hidden$ = "{{ocultacion}}">
    <template is="dom-if" if={{bye}}>
      <div class = "testbox">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" on-click="closedmess">&times;</button>
        <br>
        <hr>
        <p>{{message}}</p>
        <hr>
        <a class="btn btn-info" href ="/" role="button" on-click="closed" >Aceptar</a>
      </div>
    </template>

    <template is="dom-if" if={{error}}>
      <div class = "testbox">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" on-click="closedmess">&times;</button>
        <p>{{message}}</p>
        <hr>
        <a class="btn btn-info" href ="/" role="button"  on-click="closed" >Aceptar</a>
      </div>
    </template>

    <template is="dom-if" if={{alta}}>
      <div class = "testbox">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" on-click="closedmess">&times;</button>
        <p>{{message}}</p>
        <hr>

        <a class="btn btn-info" href ="/" role="button"  on-click="closed" >Aceptar</a>
      </div>
    </template>

    <template is="dom-if" if={{!transf}}>
      <div class = "testbox">
        <p>{{message}}</p>
        <hr>
        <button class="btn btn-info" href ="/" role="button"  on-click="closedmess" >Aceptar</button>
      </div>
    </template>
    </span>


    <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>

  </template>

  <script>
    /**
     * @customElement
     * @polymer  esto se puede poner dentro de un .js
     */


    class MensajeError extends Polymer.Element {
      static get is() { return 'mensaje-error'; }
      static get properties() {
        return {
          message:{
            type: String
          },
          error:{
            type: Boolean,
            value:false
          },
          bye:{
            type: Boolean,
            value:false
          }
          ,
          aceptar:{
            type: Boolean,
            value:false
          },
          alta:{
            type: Boolean,
            value:false
          },
          ocultacion:{
            type: Boolean,
            value:true

          },
          transf:{
            type: Boolean,
            value:true
         }
        }
      }

      showData(data) {
        console.log("Datos recibidos mensaje");
        console.log(data);
        /*this.logged=data.logged;*/
        this.ocultacion = false;
        if (data.error === true ){
          this.error=data.error;
          this.message= data.message;

          console.log(this.error);
          }else{
            if (data.bye === true){
            this.bye=data.bye;
            this.message= "Hasta pronto!!" ;

            console.log("bye");
            }else {
              if (data.alta=== true){
                console.log("alta");
                this.alta=data.alta;

                this.message= "Alta correcta. Loguese para operar.";
              }else{
                if (data.transf== false){
                  console.log("transfer");
                  this.transf=data.transf;
                  this.message= "Transferencia realizada con éxito";
                }else{
                  console.log("no hay mensajes")
                }
              }
           }
         }
       }


     closedmess(){
       console.log("boton cerrar error tranf pulsado")
         this.ocultacion =true;
          }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(MensajeError.is, MensajeError);
  </script>
</dom-module>
