<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">

<link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">

<dom-module id="api-maps">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
  <style>
    google-map {
      height: 600px;
      width: 80%;
      margin-top:100px;
      margin-left:100px;
      position:absolute; z-index:1;
    }
    .btn-info2 {
        color: #DB6EBB;
      background-color: #4285f4;
      /*  border-color: #de5bc0;*/
        float:left;
        margin-left:80px;
        margin-top: 21px;
        width:75px;
        height: 50px;
        text-align: center;
        position:absolute; z-index:1;

    }

    i {
        width:100%;
        height: 50px;
        color:#ffffff;
    }

  </style>
  <span hidden$ = "{{!ocultacion}}">
    <button  class="btn btn-info2 btn-lg"  on-click="showMaps" title="Mostrar Cajeros"><i class="far fa-credit-card fa-2x"></i></button>
  </span>

  <template is="dom-if" if={{!ocultacion}}>

  <button  class="btn btn-info2" name ="visorbalan" on-click="cerrar" title="Cerrar Mapa"><i class="fas fa-times-circle fa-2x"></i></button>

    <google-map zoom="11" latitude="40.430030"
                longitude="-3.708385" api-key="AIzaSyAHrWn4aVmZF5balKxCae5dM5ciQ9mzoFI">
      <template is="dom-repeat" items="{{results}}" as="marker" >
        <google-map-marker latitude="{{marker.latitude}}"
                           longitude="{{marker.longitude}}"
                           title="cajero Client First" draggable="true">

              <p>{{marker.dir}}</p>

        </google-map-marker>
      </template>
    </google-map>

  </template>

<iron-ajax
  id="doMaps"
  method="GET"
  url="http://localhost:3000/apitechu/v2/coordenadas"
  content-type="application/json"
  handle-as="json"
  on-response="manageAJAXresponse"
  on-error="showError"
  loading="{{cargando}}">


</template>
<script>
  /**
   * @customElement
   * @polymer
   */
  class ApiMaps extends Polymer.Element {
    static get is() { return 'api-maps'; }
    static get properties() {
      return {
        latitude:{
          type: String
        },
        longitude:{
          type: String
        },
        dir:{
          type: String
        },
        results : {
          type:Array
        },
        ocultacion:{
          type: Boolean,
          value:true
        },
        error:{
          type: Boolean,
          value:false
        },
        message:{
          type: String
        },
        token:{
          type:String
        }
      };
    }
    showMaps() {
      console.log("Boton Buscar pulsado");
            this.$.doMaps.generateRequest();
            console.log("Peticion enviada a coordenadas");
          }
      manageAJAXresponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.results = data.detail.response;
          this.ocultacion=false;
          this.latitude = data.detail.response.latitude;
          this.longitude = data.detail.response.longitude;
          this.dir = data.detail.response.dir;
          console.log(this.latitude);

         }
        showError(error){
          console.log("Error recibido");
          console.log(error);
        }

      cerrar(){
        this.ocultacion=true;

      }
    }

  //Vinculamos la etiqueta a la clase.
  window.customElements.define(ApiMaps.is, ApiMaps);
</script>

</dom-module>
