<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="stylesheet" href="../../css/login-usuario.css">

<dom-module id="login-usuario-event">
  <template>
    <link rel="stylesheet" href="../../css/login-usuario.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
      :host {
        display: block;

      }

    /*  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
      pre, form, fieldset, input, textarea, p, blockquote, th, td {
        padding:0;
        margin:10px;}
      fieldset, img {border:0}
      ol, ul, li {list-style:none}
      :focus {outline:none}
      body,
      input,
      textarea,
      select {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #4c4c4c;
      }

      p {
        font-size: 12px;
        width: 150px;
        display: inline-block;
        margin-left: 18px;
      }
      h1 {
        font-size: 32px;
        font-weight: 300;
        color: #4c4c4c;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
      }

      html{
        background-color: #ffffff;
      }

      .testbox {
        margin: 20px auto;
        width: 400px;
        height: 464px;
        -webkit-border-radius: 8px/7px;
        -moz-border-radius: 8px/7px;
        border-radius: 8px/7px;
        background-color: #ebebeb;
        -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        border: solid 1px #cbc9c9;
      }

      input[type=radio] {
        visibility: hidden;
      }

      form{
        margin: 0 30px;
      }
      hr{
        color: #a9a9a9;
        opacity: 0.3;
      }
      input[type=text],input[type=password]{
        width: 200px;
        height: 39px;
        -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
        -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
        border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
        background-color: #fff;
        -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        border: solid 1px #cbc9c9;
        margin-left: -5px;
        margin-top: 13px;
        padding-left: 10px;
      }

      input[type=password]{
        margin-bottom: 25px;
      }

      #icon {
        display: inline-block;
        width: 30px;
        background-color: #3a57af;
        padding: 8px 0px 8px 15px;
        margin-left: 15px;
        -webkit-border-radius: 4px 0px 0px 4px;
        -moz-border-radius: 4px 0px 0px 4px;
        border-radius: 4px 0px 0px 4px;
        color: white;
        -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        box-shadow: 1px 2px 5px rgba(0,0,0,.09);
        border: solid 0px #cbc9c9;
      }

      .button {
        font-size: 14px;
        font-weight: 600;
        color: white;
        padding: 6px 25px 0px 20px;
        margin: 10px 8px 20px 0px;
        display: inline-block;
        float: right;
        text-decoration: none;
        width: 60px; height: 35px;

        background-color: #3a57af;
        -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
        -moz-box-shadow: 0 3px rgba(58,87,175,.75);
        box-shadow: 0 3px rgba(58,87,175,.75);
        transition: all 0.1s linear 0s;
        top: 0px;
        position: relative;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
      }

      .button:hover {
        top: 3px;
        background-color:#2e458b;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

      }
      h2 {
        font-size: 32px;

        color: #4c4c4c;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
        margin-left: -5px;
      }*/
    </style>


    <template is="dom-if" if={{ocultacion}}>
      <h1>Bienvenido {{first_name}} {{last_name}}</h1>

    </template>

    <span hidden$ = "{{logged}}">
      <span hidden$ = "{{error}}">
        <div class = "testbox">
          <h2>Introduzca datos de acceso:</h2>
          <form >
            <hr>
            <label id="icon" for="name"><i class="icon-envelope"></i></label>
            <input type="text" name="name" id="name"  value="{{email::input}}" placeholder="aaaaa@aaa.aa" required on-change="validamail" />
            <label id="icon" for="name"><i class="icon-shield"></i></label>
            <input type="password" name="name" id="name" value="{{password::input}}" placeholder="Password" required/>
            <hr>
            <p>Si has olvidado tu contraseña o password <a href="#">pulsa aqui</a>.</p>
            <paper-button raised class="button" on-click="login">Login</paper-button>
            <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>

        </div>
      </span>
    </span>


    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">


  </template>

  <script>
    /**
     * @customElement
     * @polymer  esto se puede poner dentro de un .js
     */

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario-event'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          first_name: {
            type: String,
            value:""
          },
          last_name: {
            type: String,
            value:""
          },
          email:{
            type: String
          },
          password:{
            type: String
          },
          logged:{
            type: Boolean
          },
          ocultacion:{
            type: Boolean,
            value:false
          },
          error:{
            type: Boolean,
            value:false
          },
          message:{
            type: String
          },
          valido:{
            type:Boolean,
            value:true
          },
          ok:{
            type:Boolean,
            value:true
          }
          ,
          token:{
            type:String
          }
         }
        }


      showData(data) {
        console.log("Datos recibidos 2");
        console.log(data);
        /*this.logged=data.logged;*/
        this.ocultacion=data.ocultacion;
      }
      validamail(){
        console.log("valido mail");
        //var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
        if( !(/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(this.email)) ) {
            swal("Email mal informado.",{
              icon: "warning",
            });

              this.ok=false;
          }else{
            this.ok=true;
          }
          console.log(this.ok);
         }

      login(){
        console.log("Boton login pulsado");

        if ((this.email== null) ||(this.email.length == 0)){
          console.log("mail vacio");
          this.valido=false;

        }else{
          if ((this.password==null)||(this.password.length == 0)){
            console.log("password  vacio");
            this.valido=false;

          }else{
            this.valido=true;}
          }
          console.log(this.valido);

        if ((this.valido==true) && (this.ok==true)){
            var loginData={
              "email": this.email,
              "password":this.password
            };
            this.$.doLogin.body = JSON.stringify(loginData);
            //lo que hacemos aqui es transformar una sintaxis de JS en formato JSON
            this.$.doLogin.generateRequest();
            console.log("Peticion enviada");
        }else{
          swal("Hay campos vacios o mal informados.",{
              icon: "error",
            });
        }

      }
      manageAJAXresponse(data,request){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.token =  data.detail.response.token;
        this.id =  data.detail.response.id;
        this.first_name =data.detail.response.first_name;
        this.last_name =data.detail.response.last_name;
        this.logged =true;
        this.ocultacion=true;

        this.dispatchEvent(
          new CustomEvent(
            "loginresponse",
            {
              "detail": { /*evento hacia fuera al padre*/
                "logged":this.logged,
                "id":this.id,
                "token":this.token,
                "ocultacion":this.ocultacion
                 /*es lo que devuelve el ajax
                ahora el mediador , pondra*/
              }
            }
          )
        );
      }
      showError(e,error){
        console.log("Error recibido");
        console.log(error);
        var resp=error.request.status;
        console.log(error.request.status);
        if (resp==404){
        swal("Usuario/Contraseña Incorrecto.",{
            icon: "error",
          });
        }else{
          swal("Error de acceso a datos.",{
              icon: "error",
            });

        }
        //console.log("status:" + _data.status)
        //this.error=true;
        //this.message = "Usuario/Contraseña Incorrecto";
        /*this.dispatchEvent(
          new CustomEvent(
            "loginresponse-error",
            {
              "detail": {
                "error":true,
                "message":this.message

              }
            }
          )
        );*/
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
