<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="elements.html">

<link rel="import" href="../gestor-evento/gestor-evento-cliente.html">
<link rel="import" href="../gestor-evento/gestor-evento-nocliente.html">


<link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">


<dom-module id="inicio-a">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">

  <style>

      :host {
      --app-primary-color: #4285f4;
      --app-secondary-color: black;
      --paper-red-500:#cd5c5c;
      display: block;
      }

      html, body {
        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        background: #f0effe;
        max-height: 368px;

      }
      app-toolbar {
        background-color: #4285f4;
        color: #fff;


      }

      div.main-title {
        margin-left: 140px;
        margin-top: 20px;
        color: #fff;
        top:5;
        font-weight: bold;
        font-size: 35px;

      }
      app-header {
        @apply --layout-fixed-top;
        color: #fff;
        background-color: var(--app-primary-color);
        overflow:hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      /*  margin-left: -30px;*/
        /*position:absolute; z-index:0;*/
        }
      #logo {
        width:5%;
        height: 80px;
        background: #ddd;
        margin-top: 10px;
        margin-left: 180px;
        float:left;
        border-radius: 50%;
      }
      #title{
        float:left;
        width:40%;
        height:80px;
        margin-left: 220px;
        /*margin:auto;*/

      }
      .btn-info2 {
          color: #fff;
          /*background-color: #5bc0de;*/
          border-color: #46b8da;
          float:left;
          margin-left:20px;
          margin-top: 20px;
          width:75px;
          height: 50px;
          text-align: center
      }

      i {
          width:100%;
          height: 50px;
          color:#ffffff;
      }
      .btn-block2 {
          display: inline-block;
          width: 25%;
      }

    </style>

    <app-router>
      <app-route path="/"></app-route>
    </app-router>
    <app-header-layout has-scrolling-region>
      <app-header reveals>
        <app-toolbar>
          <a href="/" id="home" class="btn btn-info2 btn-lg" role="button" title="Volver a Inicio">
          <i class="fas fa-home fa-2x"></i></a>
          <iron-image  id="logo" sizing="contain" alt="logo inicio" src="/images/favorites_gold.svg"></iron-image>
          <div id ="title" class="main-title"> BANCO CLIENT FIRST</div>
        </app-toolbar>
      </app-header>
    </app-header-layout>



    <span  hidden$ = "{{ocultacion}}" >
      <div class="card text-center">
        <div class="card-body">
            <h2 class="display-4">Bienvenido a su Banco Client First.</h2>
            <hr class="my-4">
            <p class="lead">Por favor elija una opción :</p>
              <button raised class="btn btn-primary btn-lg btn-block2" on-click="acceder">Acceder</button>
              <button raised class="btn btn-primary btn-lg btn-block2" on-click="alta">Nuevo Usuario</button>
         </div>
      </div>
    </span>

<!-- CAMBIAR PARA EL ALTA DE USUARIO!!!-->

   <template is="dom-if" if={{acceso}}>
      <gestor-evento-cliente></gestor-evento-cliente>
    </template>
    <template is="dom-if" if={{nuevo}}>
       <gestor-evento-nocliente></gestor-evento-nocliente>
    </template>

  </template>

  <script>
    class InicioA extends Polymer.Element {
      static get is() { return 'inicio-a'; }
      static get properties() {
        return {
            acceso:{
            type: Boolean,
            value : false

          },
            nuevo:{
            type: Boolean

          },
            ocultacion:{
            type: Boolean,
            value : false

          }
        };
      }
      showData(data) {
        console.log("Datos recibidos 3");
        console.log(data);
        this.logged=data.logged;
        }

        acceder(){
          console.log("Boton acceder pulsado");
          this.set('route','/login')
          this.acceso =true;
          this.ocultacion =true;

        }
        alta(){
          console.log("Boton acceder pulsado");
          //this.set('route.path','/nuevo')
          this.nuevo =true;
          this.ocultacion =true;

        }
    }
  window.customElements.define(InicioA.is, InicioA);
</script>
</dom-module>
