<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<dom-module id="action-transfer">
  <template>
    <style>
    :host{
      disply:block;
    }
    * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }

     body {
       background: #f2f2f2;
       font-family: "Roboto", Arial;
       border-top: 30px solid #303F9F;
     }

     .wrap {
       width: 90%;
       max-width: 500px;
       padding: 40px;
       margin: auto;
       background: #fff;
       box-shadow: 0px 0px 3px grey;
     }
     .contenedor-formulario {
       width: 100%;
       color: #f2f2f2;
       padding: 50px;
     }
     .contenedor-formulario .formulario {
       width: 100%;
       margin: auto;
     }
     .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px;
    }
    .contenedor-formulario .formulario .input-group2{
     position: relative;
     margin-bottom: 32px;
    }
    .contenedor-formulario .formulario .input-group input[type="text"]{
      font-family: "Roboto", Arial;
      font-size: 16px;
      color: #303F9F;
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid #BBDEFB;
    }
    .contenedor-formulario .formulario .input-group input[type="text"]:focus,
    .contenedor-formulario .formulario .input-group input[type="number"]:active{
      outline: none;
      border-bottom: 2px solid #303F9F;
    }
    .contenedor-formulario .formulario .input-group input[type="text"].error,
    .contenedor-formulario .formulario .input-group input[type="number"].error {
      border-bottom: 2px solid #D32F2F;
    }
    .contenedor-formulario .formulario .input-group input[type="text"].error + label,
    .contenedor-formulario .formulario .input-group input[type="number"].error + label {
      color: #D32F2F;
    }
    .contenedor-formulario .formulario .input-group label {
      color: #303F9F;
    }
    .contenedor-formulario .formulario .input-group label.label {
      transition: all 0.3s ease;
      margin-left: 15px;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      top: 16px;
      left: 0;
    }
    .contenedor-formulario .formulario .input-group2 p {
      color: #303F9F;
    }
    .contenedor-formulario .formulario .input-group2 p {
      margin-left: 15px;
      font-size: 25px;
      line-height: 16px;
      position: absolute;
      top: -45px;
      left: 0;
    }
    .contenedor-formulario .formulario .input-group label.label.active {
      top: -12px;
      font-size: 12px;
      line-height: 12px;
      color: #B6B6B6;
    }
    .button {
      font-size: 18px;
      font-weight: 600;
      color: white;
      padding: 6px 25px 10x 20px;
      margin: 40px 8px 10px 10px;
      display: inline-block;
      float: right;
      text-decoration: none;
      width: 100%;
      height: 50px;
      background-color: #3a57af;
      transition: all 0.1s linear 0s;
      top: -30px ;
      position: relative;
      line-height: 50px;
      text-align: center;

      }
    </style>

    <template is="dom-if" if={{logged}}>
      <span hidden$="{{!transf}}">
          <div class="contenedor-formulario">
            <div class="wrap">
              <form is="form"class="formulario" name="formulario-transferencia">
                <div class="input-group2">
                  <p>Introduzca los datos :</p>
                </div>
                <div>
                  <div class="input-group">
                    <label for="iban">Iban</label>
                    <input id="iban" type="text" name="iban" value ="{{iban}}" disable/>
                  </div>
                  <div class="input-group">
                    <label for="ibandes">Iban Destino</label>
                    <input id="ibandes" type="text" name="iban" value ="{{ibandes::input}}" placeholder="Iban destino" required/>
                  </div>
                  <div class="input-group">
                    <label for="imptran">Importe</label>
                    <input id="imptran" type="text" name="imptran" value ="{{imptran::input}}" placeholder="Importe a transferir" on-change="validaimp" required/>
                  </div>
                  <div class="input-group">
                    <label for="concepto">Concepto</label>
                    <input id="concepto" type="text" name="iban" value ="{{concepto::input}}" placeholder="Concepto" />
                  </div>
                </div>
              </form>
              <div class="button-login">
                <button class="button" on-click="new">Enviar</button>
              </div>
              <paper-spinner alt="Realizando transferencia..." active="[[cargando]]"></paper-spinner>
            </div>
        </span>
      </template>


    <iron-ajax
      id="doTransf"
      method="POST"
      url="http://localhost:3000/apitechu/v2/transferencia"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">

  </template>

  <script>
  class ActionTransfer extends Polymer.Element {
      static get is() { return 'action-transfer'; }
      // Declare properties for the element's public API
      static get properties() {
        return {
          id: {
            type: Number
          },
          id_cc: {
            type: Number
          },
          iban: {
            type: String
          },
          ibandes: {
            type: String
          },
          importe: {
            type: Number
          },
          imptran: {
            type: Number
          },
          concepto: {
            type: String
          },
          token: {
            type: String
          },
          logged: {
            type: Boolean,
          value:false
          },
          ocultacion: {
            type: Boolean,
          value:false
          },
          error: {
            type: Boolean,
            value:false
          },
          transf: {
            type: Boolean
          },
          valido: {
            type: Boolean
          },
          ok: {
            type: Boolean,
            value:true
          },
          message: {
            type: String
          }

        }
      }

      showData(data) {
          console.log("Datos recibidos hacia transferencia");
          console.log(data);
          this.id=data.id;
          this.id_cc=data.id_cc;
          this.iban=data.iban;
          this.token=data.token;
          this.logged=data.logged;
          this.transf=data.transf;
        }
        validaimp(){

          if( !/^([0-9])*[.]?[0-9]*$/.test(this.imptran)) {
            console.log("importe erroneo");
            //document.querySelector("#phone").style.backgroundColor = "red";
            //this.phone.style.backgroundColor = "red";
            swal("Importe mal informado.",{
                icon: "warning",
              });
              this.ok=false;
          }else{
            this.ok=true;
          }
        }

        new(){
          console.log("Boton enviar pulsado");
          if ((this.imptran== null) ||(this.imptran.length == 0)){
          console.log("importe vacio");
          this.valido=false;

          }else{
            if ((this.ibandes==null)||(this.ibandes.length == 0)){
              console.log("iban  vacio");
              this.valido=false;

            }else{
              this.valido=true;

            }
           }

          if ((this.valido==true) && (this.ok==true)){
              var TokenData=this.token;
              var importe=this.imptran;
              var impfloat=Number(importe);
              var transferData={
                "id": this.id,
                "id_cc":this.id_cc,
                 "iban":this.iban,
                 "imptran":impfloat,
                 "ibandes":this.ibandes,
                 "concepto":this.concepto
               };
               console.log(transferData);
               console.log(TokenData);
               this.$.doTransf.headers.Authorization="Bearer "+ TokenData;
               this.$.doTransf.body=JSON.stringify(transferData);
               this.$.doTransf.generateRequest();
               console.log("Peticion enviada Transferencia");
          }else{
            swal("Hay campos vacios o mal informados.",{
              icon: "error",
                });
          }
        }



          manageAJAXresponse(data){
            console.log("Respuesta Transferencia recibida");
            console.log(data.detail.response);
            this.message=data.detail.response.msg;
            if (this.message == "Sin fondos"){
              swal("No tiene suficiente fondos.",{
                  icon: "warning",
                });
            }else{
                swal("Transferencia realizada.",{
                icon: "success",
                  });

                this.id=data.detail.response.id;
                console.log(this.id);
                var tranfs= false;
                this.transf=false;
                console.log("Evento hacia el visor");
                this.dispatchEvent(

                  new CustomEvent(
                    "transferresponse",
                    {
                      "detail": { /*evento hacia fuera al padre*/
                        "logged":this.logged,
                        "id":this.id,
                        //"id_cc":this.id_cc,
                        "transf":tranfs,
                        "token":this.token
                      }
                    }
                  )
                )
              }
            }

         /*manageAJAXresponse_delay(){

          windows.setTimeout(manageAJAXresponse(data),10000);
        }*/

        showError(e,error){
          console.log("error recibido");
          console.log(error);
          var resp=error.request.status;
          console.log(error.request.status);
          if (resp==404){
          swal("No existe la cuenta destino o es incorrecta.",{
              icon: "error",
            });
          }else{
            swal("Error de acceso a datos.",{
                icon: "error",
              });
        /*  this.error=true;
          this.message = "Error de acceso a datos";
          this.dispatchEvent(
            new CustomEvent(
              "transferesponse-error",
              {
                "detail": {
                  "error":true,
                  "message":this.message

                }
              }
            )
          );*/
        }
      }

    }
      window.customElements.define(ActionTransfer.is, ActionTransfer);

    </script>

  </dom-module>
