<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../logout-receptor-evento/logout-receptor-evento.html">
<link rel="import" href="../login-usuario/login-usuario-event.html">
<link rel="import" href="../visor-cuenta/visor-cuenta.html">
<link rel="import" href="../visor-cuenta/visor-balance.html">
<link rel="import" href="../paso-balance/paso-balance.html">
<link rel="import" href="../mensaje-error/mensaje-error.html">
<link rel="import" href="../action-transfer/action-transfer.html">
<link rel="import" href="../nueva-cuenta/nueva-cuenta.html">

<dom-module id="gestor-evento-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
    
    </style>
    <logout-receptor-evento id ="receiver" on-logoutresponse="processEventlogout"></logout-receptor-evento>
    <nueva-cuenta id ="receiverccn" on-ccnresponse="processEventccn"></nueva-cuenta>
    <login-usuario-event  id ="receiverlog" on-loginresponse="processEvent" ></login-usuario-event>
    <visor-cuenta id="receivercc" on-ccresponse="processEventcc" on-visorresponse-error="processError"></visor-cuenta>
    <paso-balance id="receiverpaso" on-balanceresponse="processEventpasob" on-mtoresponse="processEventpasot"></paso-balance>
    <visor-balance id="receiverbalanc"  on-balanresponse-error="processError" ></visor-balance>
    <action-transfer id="receivermto" on-transferresponse="processMto"  on-transferesponse-error ="processError" ></action-transfer>
    <mensaje-error id ="receivererror"></mensaje-error>

  </template>
  <script>
    class GestorEventoCliente extends Polymer.Element {
      static get is() { return 'gestor-evento-cliente'; }
      static get properties() {
        return {
            id:{
            type: Number
          },
          logged:{
            type: Boolean
          },
          ocultacion:{
            type: Boolean

          },
          error:{
            type: Boolean,
            value:false
          },
          transf:{
            type: Boolean,
            value:true
          },
          token:{
            type: String
          }
        };
      }
      processEvent(data) {
        console.log("Funcion envio evento  desde login");
        console.log(data);
        var idl = data.detail.id;
        console.log(idl);
        /*this.logged=data.detail.logged;*/
        this.$.receiver.showData(data.detail); //hacia logout-receptor-evento
        this.$.receivercc.showData(data.detail); //Hacia visor-cuenta
        this.$.receiverccn.showData(data.detail); //Hacia nueva cuenta

        //this.$.receiverpaso.showData(data.detail.logged); //Hacia paso-balance

      }
      processEventlogout(data) {
        console.log("Funcion envio evento logout a login");
        console.log(data);
        this.$.receiverlog.showData(data.detail);//hacia login-usuario-event
        this.$.receivercc.showData(data.detail.ocultacion);//Hacia visor-cuenta
        this.$.receivercc.showData(data.detail.logged);//Hacia visor-cuenta
        this.$.receiverpaso.showData(data.detail.logged);//Hacia paso-balance
        this.$.receiverbalanc.showData(data.detail.logged);//Hacia visor balance
        this.$.receivererror.showData(data.detail); //Hacia mensaje-error
        this.$.receivermto.showData(data.detail.logged);
        this.$.receiverccn.showData(data.detail.logged);

        }
        processEventcc(data) {
          console.log("Funcion envio evento cuentas a tabla");
          console.log(data);
          this.$.receiverpaso.showData(data.detail); //Hacia paso-balance

        }
        processEventccn(data) {
          console.log("Funcion envio evento nueva cuenta a visor-cuenta");
          console.log(data);
          this.$.receivercc.showData(data.detail);//Hacia visor cuenta

        }
      processEventpasob(data) {
          console.log("Funcion envio evento paso balance a balance");
          console.log(data);
          this.$.receiverbalanc.showData(data.detail);//hacia visor-balance
          this.$.receivermto.showData(data.detail);//hacia nuevo mto

        }
      processEventpasot(data) {
          console.log("Funcion envio evento paso balance a nuevo movimiento y balance");
          console.log(data);
          this.$.receivermto.showData(data.detail);//hacia nuevo mto
          this.$.receiverbalanc.showData(data.detail);// hacia visor-balance
      }
      processMto(data) {
          console.log("Funcion envio nuevo movimiento a balance");
          console.log(data);
          this.$.receivercc.showData(data.detail);//Hacia visor-cuenta
        //  this.$.receivererror.showData(data.detail); //Hacia mensaje-error para confirmar transferenia

      }
      processError(data) {
        console.log("Funcion envio evento a error");
        console.log(data);
          this.$.receivererror.showData(data.detail); //Hacia mensaje-error
          }

    }

    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorEventoCliente.is, GestorEventoCliente);
  </script>
</dom-module>
